<% content_for(:titulo_de_pagina) { t('.titulo', nombre: @user.nombre) } %>

<%= render 'shared/botonera' do %>
  <%= link_to t('show', modelo: User.model_name.human), @user, class: 'btn btn-outline-primary' %>
<% end %>

<div class="row">
  <div class="col-lg">
    <%= render 'form', user: @user %>
  </div>
</div>
