<% content_for(:titulo_de_pagina) { User.model_name.human.pluralize } %>

<%== pagy_bootstrap_nav(@pagy) %>

<div class="row">
  <div class="col">Email</div>
  <div class="col">Nombre</div>

  <% User.roles.values.map(&:text).each do |rol| %>
    <div class="col"><%= rol %></div>
  <% end %>

  <div class="col"></div>
</div>

<%= render @users %>

<%= link_to 'New User', new_user_path %>
