<div class='row mb-2'>
  <div class="col-lg">
    <%= link_to t('volver'), :back, class: 'btn btn-outline-secondary' %>

    <%# Renderiza el bloque que pase cada vista. %>
    <%= yield %>
  </div>

  <%# S칩lo agregar esto si hay paginaci칩n y tenemos m치s de una p치gina. %>
  <% if local_assigns[:paginacion] && paginacion.pages > 1 %>
    <div class="col-lg-2">
      <%== pagy_bootstrap_nav(paginacion) %>
    </div>
  <% end %>
</div>
