// Estilos generales de layout.


// Hacer distancia entre el contenido y la barra de navegación.
body {
  padding-top: $navbar-height;

  nav.navbar {
    height: $navbar-height;
  }
}

// Estilos para el "brand".
.navbar-brand {
  font-size: 1.5rem;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

// Desde tamaño sm hacia abajo, convertir el menú en un panel "offcanvas".
@include media-breakpoint-down(sm) {
  .panel-offcanvas {
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: $navbar-padding-x;
    padding-left: $navbar-padding-x;
    overflow-y: auto;
    visibility: hidden;
    background-color: $dark;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    // Previene que bootstrap achique el panel mientras está desapareciendo,
    // así tenemos una animación más fluída.
    height: 100% !important;

    &.show {
      visibility: visible;
      // Mover el panel a la derecha.
      transform: translateX(-100%);
    }

    // Esta es la clase que bootstrap agrega mientras está colapsando el menú.
    &.collapsing {
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
  }
}

// Para páginas como el sign-in donde tenemos un sólo componente bien centrado.
.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // Dejar siempre margen para no quedar debajo de la barra de navegación.
  margin-top: $navbar-height;
}
