<%# Menú de navegación para la barra superior. %>
<% if user_signed_in? %>
  <div class="dropdown">
    <%= link_to 'Administración', '#',
      class: 'nav-item nav-link dropdown-toggle',
      data: { toggle: 'dropdown' } %>

    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to 'Usuarixs', users_path, class: 'dropdown-item' %>
    </div>
  </div>
<% end %>
